APP_ENV=development
APP_DEBUG=true

APP_URL=http://fitplatform.ua

DB_HOST=127.0.1.31
DB_PORT=3306
DB_NAME=fitness_platform
DB_USER=root
DB_PASS=

SESSION_LIFETIME=120

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
